<div class="all">
    <div class="nav-lat">
        <div class="logo">
            <img src="../../../assets/logo.jpg" alt="">
        </div>
        <div class="icons">
            <i class="material-icons">menu</i>
            <i class="material-icons">search</i>
            <i class="material-icons">star_border</i>
            <i class="material-icons">sms</i>
            <i class="material-icons">tune</i>
            <i class="material-icons">assured_workload</i>
        </div>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>
