<div class="all">
    <div class="nav-lat">
        <div class="logo">
            <img src="../../../assets/logo.jpg" alt="">
        </div>
        <div class="icons-lat">
            <mat-icon>menu</mat-icon>
            <mat-icon>search</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>sms</mat-icon>
            <mat-icon>tune</mat-icon>
            <mat-icon>assured_workload</mat-icon>
        </div>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>
