.nav-lat {
    display: flex;
    min-height: 100%;
    min-width: 55px;
    align-items: center;
    flex-direction: column;
    background-color: #165C7D;
}

.icons-lat {
    display: flex;
    flex-direction: column;
}

.logo img {
    max-width: 50px;
    height: auto;
    margin-top: 15px;
}

mat-icon {
    padding-top: 25px;
    height: max-content;
    width: max-content;
    color: rgba(240, 248, 255, 0.650);
    font-size: 30px;
}

.atual mat-icon {
    color: aliceblue;
}