<div class="nav-lat">
    <div class="logo">
        <a href=""><img src="../../../assets/logo.jpg" alt="Logo"></a>
    </div>
    <div class="icons-lat">
        <a href="/pagina1" [class.atual]="pagina == 1"><mat-icon>menu</mat-icon></a>
        <a href="/consulta" [class.atual]="pagina == 2"><mat-icon>search</mat-icon></a>
        <a href="/pagina3" [class.atual]="pagina == 3"><mat-icon>star_border</mat-icon></a>
        <a href="/pagina4" [class.atual]="pagina == 4"><mat-icon>sms</mat-icon></a>
        <a href="/pagina5" [class.atual]="pagina == 5"><mat-icon>tune</mat-icon></a>
        <a href="/pagina6" [class.atual]="pagina == 6"><mat-icon>assured_workload</mat-icon></a>
    </div>
</div>
