.topo {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.corpo {
    height: var(--tamanho-corpo);
    background-color: #e7eef1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.barra-posicao {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.figura {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.topo h6 {
    color: gray;
}

.botoes {
    height: calc(91.5vh - var(--tamanho-corpo));
    padding: 1%;
}


.barra-progresso {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.barra-progresso li {
    list-style-type: none;
    float: left;
    width: 12%;
    position: relative;
    text-align: center;
}

.barra-progresso li::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    border-radius: 50%;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto 10px auto;
    z-index: 20;
    background-color: gray;
    margin-bottom: 20px;
}

.barra-progresso li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: gray;
    top: 10px;
    left: -50%;
    z-index: 0;
}

.barra-progresso li:first-child::before{
    content: '';
    background-color: #e7eef1;
    border: 2px solid #0a3c52;
}

.step1 {
    color: #0a3c52;
}

.barra-progresso li:first-child::after{
    content: none;
}

.pesquisa-cpf {
    margin-top: 50px;
}

.pesquisa-cpf h6{
    color: gray;
    max-width: 30%;
    margin-top: 10px;
}

.campos-pesquisa {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.campos-pesquisa .input{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 1%;
}

input:focus{
    border: 0px;
}

.campos-pesquisa .input input {
    height: 35px;
}

.campos-pesquisa button {
    height: 35px;
    width: 12%;
    background-color: #0a3c52;
    color: #e7eef1;
    border: none;
    border-radius: 1px;
}

.valido {
    background-color: rgb(153, 168, 255) !important;
}

.campos-pesquisa .input label{
    font-weight: bold;
}

.btn-box {
    display: flex;
    flex-direction: row;
}

.resultado {
    margin-top: 10px;
}

