<div class="container-geral">
    <app-nav (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [class.hovered]="isHovered"></app-nav>
    <div class="all">
        <app-header titulo="Home" caminho="Home"></app-header>
        <div class="corpo">
            <p><b>Obrigado por ver meu projeto!</b> <br>
                <br> Por favor, leia também o <b>README.md</b> do projeto.
                <br> A única página construída foi a página de consulta, que pode ser acessada clicando na lupa (segundo item) no menu de navegação à esquerda
                <br> ou acessando o link: 'localhost:4200/consultar'.
                <br> Existe um CPF Válido cadastrado em memória na aplicação, que é o 518.225.453-90. Com relação ao CPF existem duas mensagens de erro: Não encontrado e Inválido.
                <br> A visualização foi desenvolvida em tela de 1080p, mas deve funcionar bem em 720p.
            </p>
        </div>
        <div class="rodape"></div>
    </div>
</div>
